$screen-break-point: 749.5px;

section.progressControlContainer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

section.buttonGroup {
  padding-top: 24px;
  border-top: 1px solid #e6e6eb;

  button {
    display: flex;
    align-items: center;
    height: 46px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    border-radius: 8px;
    border-width: 0px;
    padding: 0px;
    gap: 1rem;

    & > img {
      width: 24px;
      height: 24px;
    }

    &.prev {
      background-color: transparent;
      line-height: 20px;
      font-weight: 400;
      color: var(--main-text);
    }
    &.next {
      justify-content: center;
      width: 174px;
      font-weight: 500;
      line-height: 17px;
      background: var(--pink);
      color: #ffffff;
      margin-left: auto;
    }
  }
}
