$header-menu-item-margin-x: 16px;
$header-action-item-margin-x: 15px;

// navbar menu
nav.navbarMenu {
  display: flex;
  flex-grow: 1;
  background-color: var(--background-color);
  align-items: center;

  .navList {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: var(--background-color);

    .navItem {
      cursor: pointer;
      .navLink {
        font-weight: 500;
        line-height: 24px;
        color: var(--main-text);
        text-decoration: none;
      }
      .navIcon {
        width: 24px;
        height: 24px;
      }
      .navLink,
      .navIcon {
        &:hover,
        &:active {
          color: var(--secondary-text);
          --main-text: var(--secondary-text);
        }
      }
    }

    &.siteMenuList {
      max-width: calc(
        50% - var(--header-logo-width) / 2 - #{$header-menu-item-margin-x} / 8
      );

      .navItem {
        margin-left: $header-menu-item-margin-x;
        margin-right: $header-menu-item-margin-x;

        &:first-child {
          margin-left: 0px;
        }
      }
    }
    &.siteActionList {
      max-width: calc(
        50% - var(--header-logo-width) / 2 - #{$header-action-item-margin-x} / 8
      );

      .navItem {
        margin-left: $header-action-item-margin-x;
        margin-right: $header-action-item-margin-x;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
